#root-pane {
	-fx-background-color: #2e0053;
}

.grid-pane > * {
	-fx-background-color: red;
}

.grid-pane > *:hover {
	-fx-background-color: blue;
}

.grid-pane > *, .month-label{
	-fx-text-fill: #fcffd7;
}

.first-row-days-of-week {
	-fx-text-fill: white;
}

.label-different-month {
	-fx-text-fill: orange;
}

.grid-stack-pane-sixth-row-empty {
	-fx-background-color: inherit;
	-fx-border-color: inherit;
}

.grid-stack-pane-sixth-row-empty:hover {
	-fx-background-color: inherit;
	-fx-border-color: inherit;
}

.grid-day-row > * > * {
	-fx-alignment: center;
}